.detail-clinic-container {
    background: rgb(231, 231, 238);
    background: linear-gradient(90deg, rgba(231, 231, 238, 0.863) 0%, rgba(186, 221, 241, 0.944) 51%, rgba(229, 231, 236, 0.937) 100%);
    h1, h2, h3 {
        font-size: 16px;
        font-weight: 600;
    }
    font-size: 15px;
    text-align: justify;

    .description-clinic {
        width: 900px;
    }

    .pro-strength-clinic {
        padding: 10px 100px;
        width: 900px;
    }

    .equipment-clinic {
        padding: 10px 100px;
        width: 900px;
    }

    .background-home-clinic {
        // height: 400px;
        .clinic-image {
            height: 400px;
            background-position: center;
        }
    }

    .detail-clinic-body {
        margin: 0 100px;

        .clinic-info {
            background-color: #9cc8f3;
            border-radius: 10px;
            position: relative;

            .clinic-header {
                padding-top: 20px;
                text-align: center;
                padding-bottom: 30px;

                .clinic-name-title {
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                .clinic-address {
                    font-size: 20px;
                }
            }

            .clinic-menu-bar {
                background-color: #f8f9fa;
                padding: 10px 0;
                border-bottom: 2px solid #e0e0e0;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                margin-bottom: 30px;
                border-radius: 10px;

                &.hide { // Class để ẩn menu trên đầu
                    display: none;
                }

                .clinic-menu {
                    display: flex;
                    justify-content: center;
                    gap: 30px;

                    div {
                        font-size: 16px;
                        font-weight: 600;
                        color: #333;
                        cursor: pointer;
                        padding: 10px 15px;
                        transition: color 0.3s, background-color 0.3s;
                        border-radius: 5px;

                        &:hover {
                            color: #007bff;
                            background-color: #f1f1f1;
                        }

                        &.active {
                            color: #fff; 
                            background-color: #007bff; 
                        }
                    }
                }
            }
        }

        .clinic-name {
            font-size: 15px;
            font-weight: 600;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    .search-doctor-clinic {
        select {
            height: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    .each-doctor {
        display: flex;
        width: 100%;
        min-height: 300px;
        margin: 15px 0;
        box-shadow: 0 1px 6px #20211447;
        border-radius: 8px;
        padding: 10px;

        .clinic-content-left {
            width: 35%;

            .profile-doctor {
                .profile-doctor-container {
                    padding-top: 30px;
                    padding: 30px 10px;
                    background: #e7e7ee;
                    background: linear-gradient(90deg, rgba(231, 231, 238, 0.863) 0%, rgba(186, 221, 241, 0.944316) 51%, rgba(229, 231, 236, 0.937355) 100%);
                    border-bottom: 1px solid #d3d3d3;

                    .intro-doctor {
                        border-bottom: unset !important;
                    }
                }
            }
        }

        .clinic-content-right {
            width: 65%;
            padding: 10px;

            .doctor-schedule {
                .doctor-schedule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-info {
                .doctor-extra-info-container {
                    padding-left: 0 !important;
                }
            }
        }
    }

    // Thanh menu bên phải
    .right-side-menu { 
        display: flex;
        justify-content: center; 
        padding: 20px; 
        background-color: #f8f9fa; 
        border-top: 1px solid #dee2e6; 
        position: fixed; 
        bottom: 0; 
        width: 1336px; 
        z-index: 100; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .menu-item {
            color: #333;
            font-size: 16px;
            font-weight: 600;
            transition: color 0.3s, background-color 0.3s;
            margin: 0 15px; 
            border-radius: 5px;
            cursor: pointer; /* Con trỏ khi hover */
            &:hover {
                color: #007bff;
                background-color: #f1f1f1;
            }
            &.active {
                font-weight: bold;
                color: #fff; 
                background-color: #007bff; 
                padding: 2px 8px;
            }
        }
    }
}
