.manage-specialty-container {
    padding: 0 20px;
    .manage-specialty-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
    }
    .btn-add-new-specialty {

    }
    .add-new-specialty {
        .btn-save-specialty {
            border: none;
            outline: none;
            padding: 5px 15px;
            border-radius: 3px;
            margin: 15px 0;
            background-color: rgb(58, 58, 248);
            color: white;
        }
        .preview-img-container {
            .label-upload {
                padding: 5px 15px;
                border-radius: 5px;
                background: #ddd;
                cursor: pointer;
            
                &:hover {
                    opacity: 0.8;
                }
            }
            .preview-image {
                width: 120px;
                border: 1px solid #ddd;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-bottom: 30px;
            }
        }
    }
}