.preview-img-container {
    .label-upload {
        padding: 5px 15px;
        border-radius: 5px;
        background: #ddd;
        cursor: pointer;
    
        &:hover {
            opacity: 0.8;
        }
    }
    .preview-image {
        width: 120px;
        border: 1px solid #ddd;
        height: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.user-redux-container{
  font-size: 15px;
  .user-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
  }
  .user-redux-body {
    background-color: #f2f2f2;
    background: transparent;
    .user-manage-table{
        margin: 0 10px;
    }
  }
}



#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  #customers td, #customers th {
    // border: 1px solid #ddd;
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #dcdcdc;}
  
  // #customers tr:hover {background-color: #ddd;}
  #customers tr:hover {background-color: #c0c0c0;}

  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3a36f0;
    color: white;
  }

  .btn-edit {
    width: 35;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
    &:hover {
        background-color: transparent !important;
        color: red !important;
    }
  }

  .btn-delete {
    width: 35;
    border: none;
    outline: none;
    background: transparent;
    color: red;
    &:hover {
        background-color: transparent !important;
        color: red !important;
    }
  }

  .modal-user-container {
    .modal-content {
      .modal-header {
        button {
          background-color: transparent !important;
          border: none;
          color: black;
          font-size: 30px;
        }
      }
    }
    
    .modal-user-body {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 49%;
        &.max-width-input {
          width: 100%;
        }

        input {
          border-radius: 3px;
          height: 30px;
          border: 1px solid grey;
          outline: none;
          padding: 0 10px;
        }
      }
    }
    
  }