@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    // background-color: $colormain;
    background-color: rgb(63, 50, 245);
    // background-image: url('../../assets/images/medical-facility/bg-header-admin.jpg');
    color: $common-text-color;
    height: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    .languages {
        .welcome {
            margin-right: 10px;
        }
        .language-en {
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0.3;
            &.active {
                opacity: 1;
                span {
                    font-size: 18px;
                    font-style: italic;
                }
            }
            &:hover {
                opacity: 0.9;
            }  
        }

        .language-vi {
            cursor: pointer;
            opacity: 0.3;
            &.active {
                opacity: 1;
                span {
                    font-size: 18px;
                    font-style: italic;
                }  
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }
}